.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  width: 38vw;
  height: 60vh;
  color: white;
}
.left h2 {
  color: rgb(233, 196, 31);
}
.left p {
  color: white;
  font-size: 15px;
}
.right {
  display: flex;
  width: 55vw;
  height: 60vh;
  margin: 0px 1em;
}
.yoga {
  display: flex;
  width: 40%;
  background-image: url("../../Image/yoga.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 55vh;
  align-items: flex-end;
  border-radius: 5px;
}
.yogadiv {
  display: flex;
  width: 100%;
  height: 50px;
  color: rgb(233, 196, 31);
  margin-bottom: 5em;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.199);
}
.yogadiv button {
  background-color: rgb(22, 71, 163);
  color: white;
  border-color: rgb(22, 71, 163);
  cursor: pointer;
  height: 25px;
  border-radius: 10px;
}
.toptitle {
  display: flex;
  width: 100%;
  height: 50px;
  color: rgb(233, 196, 31);

  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.199);
}
.toptitle button {
  background-color: rgb(22, 71, 163);
  color: white;
  border-color: rgb(22, 71, 163);
  cursor: pointer;
  height: 25px;
  border-radius: 10px;
}

.brighttitle {
  display: flex;
  width: 100%;
  height: 50px;
  color: rgb(202, 166, 6);
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.199);
}
.brighttitle button {
  background-color: rgb(22, 71, 163);
  color: white;
  border-color: rgb(22, 71, 163);
  cursor: pointer;
  height: 25px;
  border-radius: 10px;
}

.subright {
  display: flex;
  width: 60%;
  flex-direction: column;
  height: 55vh;
  margin: 0px 1em;
}
.top {
  display: flex;
  width: 100%;
  background-image: url("../../Image/meditation.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 22vh;
  align-items: flex-end;
  border-radius: 5px;
}
.bottom {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.bottomright {
  border-radius: 5px;
  display: flex;
  width: 48%;
  margin: 0px 1em 0px 0px;
  background-image: url("../../Image/diet.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 22vh;
  align-items: flex-end;
}
.bottomleft {
  display: flex;
  width: 48%;
  background-image: url("../../Image/therapy.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 22vh;
  border-radius: 5px;
  align-items: flex-end;
}
